@import "./Vars.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dusty;
  color: $lavander;
  font-family: $texts;
}

#root {
  width: 90%;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    font-family: $titles;
    color: $paper;
  }

  a {
    color: $paper;
  }

  a:hover {
    opacity: 0.7;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
