@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Ubuntu:wght@500&display=swap");

$titles: "Aleo", serif;
$texts: "Ubuntu", sans-serif;

$dusty: #96858f;
$lavander: #6d7993;
$grey: #9099ad;
$paper: #d5d5d5;
